.TextInput {
    padding: 2%;
    height: 100%;
    background: white;
}

.tool-title{
    text-align: left;
margin-bottom: 2%;}

.count{
    text-align: left;
    font-size: 0.85em;
    margin-top: 1%;
}